:root {
  --primary-bg-color: #464e64;
  --primary-variant-bg-color: #3a4053;
  --primary-text-color: #f7f5f6;
  --secondary-bg-color: #9cfc97;
  --secondary-text-color: #3a4053;
  --error-bg-color: #ef3e36;
  --error-text-color: #f7f5f6;
  --bg-bg-color: #f7f5f6;
  --bg-text-color: #3a4053;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
}

* {
  box-sizing: content-box;
}

body {
  font: 400 15px/22px "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.sidebar {
  height: 65%;
  background: white;
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 0px;
  border-radius: 6px;
  z-index: 10;
  transform: translateY(97.6%);
  transition: transform 0.3s ease-out;
}
.sidebar.open {
  height: 65%;
  background: white;
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 0px;
  border-radius: 6px;
  z-index: 10;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.map-container {
  height: 73.5vh;
}

.listings {
  height: 100%;
  overflow: auto;
  /* padding-bottom: 60px; */
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: var(--primary-color);
  font-weight: 500;
}

.listings .item.active {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}

/* this is the container of the popup */
.mapboxgl-popup-content {
  font: 400 15px/22px "Poppins", sans-serif;
  width: 180px;
  height: 60px;
  border-radius: 6px;
  transform: translateY(-60px);
}

.mapboxgl-popup-content div {
  display: flex;
  flex-direction: column;
  background: var(--bg-bg-color);
  color: var(--bg-text-color);
  margin: 0;
  padding: 10px;
  font-weight: 400;
  margin: -10px;
  border-radius: 6px;
  border: 1px solid var(--primary-bg-color);
}

.mapboxgl-popup-content span {
  margin: 0;
  font-weight: 400;
  opacity: 0.5;
}
.mapboxgl-popup-content p {
  margin: 0;
  font-weight: 400;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-tip {
  display: none;
}
.marker {
  border: none;
  cursor: pointer;
  height: 55px;
  width: 35px;
}
